@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .app {
    @apply w-screen h-screen overflow-hidden;
  }

  h1 {
    @apply text-md-4xl xl:text-4xl;
    font-weight: 600;
  }

  h2 {
    @apply text-md-3xl xl:text-3xl;
    font-weight: 600;
  }

  h3 {
    @apply text-md-2xl xl:text-2xl;
    font-weight: 400;
  }

  h4 {
    @apply text-md-xl xl:text-xl;
    font-weight: 300;
  }

  h5 {
    @apply text-md-lg xl:text-lg;
    font-weight: 300;
  }

  p {
    @apply text-base;
  }

  small {
    @apply text-sm;
  }
}

@layer components {
  .news-preview {
    @apply line-clamp-3;
    font-size: medium !important;
  }
}

.text-shadow-white {
  text-shadow: 0px 0px 1px white, 0px 0px 2px white, 0px 0px 3px white,
    0px 0px 4px white;
}
